body {
    margin: 0;
    padding: 0;
    font-family: 'Corporative Alt', sans-serif;
    font-family: 'Corporative Sans Alt', sans-serif;
    font-family: 'Corporative Sans', sans-serif;
    font-family: 'Corporative', sans-serif;
    background-image: url('images/Hojas de CAFE aplicacion.png');
    background-size: cover;         /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat;   /* Evita que la imagen se repita */
    background-position: center;
    background-color: #273434;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; 
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    filter: drop-shadow(0 0 20px #000);
    background-color: #897363;
    border-radius: 10px;
    position: static;        /* Quita el centrado absoluto */
    top: auto;
    left: auto;
    transform: none;
    margin: 50px 0; 
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    position: relative;
    color: #ffffff;
    filter: drop-shadow(0 0 3px #000);
}

.formulario h1::after {
    content: "";
    display: block;
    margin: 16px auto 0 auto; 
    width: 80%;              
    border-bottom: 1px solid #ffffff;
    filter: drop-shadow(0 0 10px #000);
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #ffffff;
    filter: drop-shadow(0 0 10px #000);
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: top 0.4s, font-size 0.4s, color 0.4s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #273434;
    transition: .5s;
}

.username input:focus ~ label,
.username input:not(:placeholder-shown) ~ label {
    top: -5px;
    left: 0;
    font-size: 12px;
    color: #273434;
}

.username input:focus ~ span::before,  
.username input:focus ~ span::before {
    width: 100%;
}

.recordar {
    margin: .5px 0 20px 5px;;
    color: rgb(0, 0, 158);
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}

.iniciar-sesion {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #273434;
    border-radius: 0.5rem;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    
}

.iniciar-sesion a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.iniciar-sesion:hover {
    transform: scale(1.075) translate(1px);
    transition: .5s;
}

.registrarse {
    text-align: center;
    margin: 30px 0;
    font-size: 16px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 20px #000);
}

.registrarse a {
    color: rgb(0, 0, 158);
}

@media screen and (max-width: 500px) {
    .formulario {
        width: 350px;
    }
    
}

@media screen and (min-width: 750px) {
    .formulario {
        width: 450px;
    }
    
}